__pycache__/
*.py[cod]
*$py.class
.env
env
.venv/
venv/
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
results/logs/*
results/plots/*
!results/logs/.gitkeep
!results/plots/.gitkeep
.DS_Store
*.log
env/
